body {
    background-color: #1c1b22;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
}

.container {
    padding-bottom: 3rem;
}


body {
    margin: 0;
    font-family: Opensans-var;
}
@font-face {
  font-family: DejavuMono;
  src: url(/assets/fonts/mainfont-webfont.woff2) format('woff2');
  font-weight:bold;
  font-style:normal;
}


@font-face {
    font-family: Oswald-var;
    src: url(/assets/fonts/titlefont.woff2) format('woff2');
}

@font-face {
    font-family: Opensans-var;
    src: url(/assets/fonts/Opensans.woff2) format('woff2');
}

@font-face {
    font-family: Dejavu;
    src: url(/assets/fonts/dejavusans-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    
}

.isLoading {
    background: white;
    box-sizing: border-box;
    border: none;
    animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
    0% {
        background: white;
    }
    50% {
        background: rgb(196, 196, 196);
        
    }
    100% {
        background: white;
    }
}


.linkbutton {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    margin-inline: 1rem;
    margin-block: 0.5rem;
    isolation: isolate;
    color: black;
    text-decoration: none;
}

.linkbutton::before {
	position: absolute;
	content: "";
	inset: 0;
	display: block;
	background-color: #00ff00;
	filter: brightness(0.7);
	transform: skewX(-45deg);
	z-index: -1;
	transition: 200ms;
}

.linkbutton:is(:hover, :focus):not([href=""])::before {
	position: absolute;
	content: "";
	inset: 0;
	display: block;
	background-color: #00ff00;
	transform: skewX(-40deg) scale(1.1) scaleX(1.1);
	z-index: -1;
}

.linkbutton::after {
	position: absolute;
	content: "";
	inset: 0;
	display: block;
	background-color: #00ff00;
	transform: skewX(-45deg);
	z-index: -1;
	transition: 200ms;
}

.linkbutton:is(:hover, :focus):not([href=""])::after {
	position: absolute;
	content: "";
	inset: 0;
	display: block;
	background-color: #00ff00;
	transform: skewX(-45deg) scale(1.1);
	z-index: -1;
}